@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import "../../styles/breakpoints.scss";

.container {

  width: 100%;

  .main {
    .header {
      display: flex;
      margin-bottom: 40px;
      flex-direction: column;
      

      @include md {
        flex-direction: row;
      }

      .title {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        margin: 0;
      }

      .headerButtons {
        display: flex;
        font-size: 14px;
        font-weight: bold;
        margin-top: 12px;

        @include md {
          margin-left: auto;
          margin-top: 0px;
        }
      }
    }
    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 40px;
      padding-bottom: 30px;
    }
  }
}
